server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/racelog
    username: racelog
    password: racelog
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  jwt:
    secret: ${APP_JWT_SECRET:9aK!fP3sLzQ8tV1wX4bC7eR0yU2hM5nD}
    access-token-minutes: 30
    refresh-token-days: 7

logging:
  level:
    root: INFO
    miron.gaskov: DEBUG
